#main {
    width: 85%;
    margin: 0 auto;
    font-family: 'Quicksand', sans-serif;
}

header {
    text-align: center;
    border: solid black 1px;
    padding: 1rem;
    margin-bottom: 4rem;
    font-family: 'Saira Stencil One', cursive;
    color: #f7f8d3;
    background-color: black;
}

body {
    background-color: #f7f8d3;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem
}

label {
    font-size: 1.25rem
}

.col-8 {
    padding: 1rem;
    border: solid black 2px;
    margin-bottom: 2rem
}

.card {
    margin: .5rem;
    background-color: #96bfcc;
    border: solid black 1px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

#houseOut {
    margin-left: 4rem
}

form {
    margin-top: 2.5rem
}

#boldCost {
    font-weight: bold;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif
}

h2 {
    text-decoration: underline
}

#submitButton {
    margin-top: 1em
}